.gradle
.idea
*.iml
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
local.properties

# Android Studio files
*.apk
*.ap_
*.aab

# Gradle files
.gradle/
build/

# Local configuration file
local.properties

# Log Files
*.log

# Android Profiling
*.hprof

# Large files
*.zip
*.core
